/* https://www.modularscale.com/?1,1140,12&em&1.333 */
@import url('https://fonts.googleapis.com/css?family=Baskervville');

* {
    box-sizing: border-box;
}

:root {
    --blue: #58b8e8;
    --green: #71bf45;
    --grey: #969892;
}

body {
    font-family: 'Baskervville', serif;
    color: black;
}

h1 {
    color: white;
    font-size: 2.369em;
    font-weight: 600;
    line-height: normal;
}

h2 { font-size: 2.045em }
h3 { font-size: 1.777em }
h4 { font-size: 1.605em }
h5 { font-size: 1.333em }
h6 { font-size: 1.204em }

img {
    outline: 1px solid white;
    outline-offset: -6px;
}

hr {
    border: 1px solid var(--green);
    width: 35px;
    margin: 10px 0;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)),url(./assets/powerwashing-hero-1024x683.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center 30%;
    background-repeat: no-repeat;
    height: 65vh;
}

.btn-primary {
    background: var(--blue);
    color: #fff;
    border: 0 solid transparent;
}

.btn {
    padding: 15px 60px;
    font-size: 1.157;
}

/* .centerFlex {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

.home-support {
    margin: 10px;
    padding: 30px;
}

.home-about {
    background: black;
    color: white;
    margin: 10px;
    padding: 30px;
}

.cta {
    background-color: #eeeeee;
    margin: 10px;
    padding: 30px;
}

.content {
    padding: 80px 10px;
}

.page-hero {
    background-color: var(--grey);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center 30%;
    background-repeat: no-repeat;
    height: 35vh;
}